@font-face      {
                    font-family: TF2Build;
					src: url('tf2build-webfont.woff');
					src: local('?'), url('tf2build-webfont.woff') format('woff'), url('tf2build-webfont.ttf') format('truetype'), url('tf2build-webfont.svg#webfontJYUt1qXz') format('svg');
					font-weight: normal;
					font-style: normal;
                }
.font-face      {
                    font-family: TF2Build;
					src: url('tf2build-webfont.woff');
					src: local('?'), url('tf2build-webfont.woff') format('woff'), url('tf2build-webfont.ttf') format('truetype'), url('tf2build-webfont.svg#webfontJYUt1qXz') format('svg');
					font-weight: normal;
					font-style: normal;
                }
.TF2Text        {
                    font-family: TF2Build;
					src: url('tf2build-webfont.woff');
					src: local('?'), url('tf2build-webfont.woff') format('woff'), url('tf2build-webfont.ttf') format('truetype'), url('tf2build-webfont.svg#webfontJYUt1qXz') format('svg');
					font-weight: normal;
					font-style: normal;                    color: #EBE2CA;
                    text-shadow: 2px 2px 1px #000;
                    text-align : center;
                }       
                 
.TF2Images      {
                    display: inline-block;
                }
                 
.center             {
                    text-align : center;
                }
                 
.right          {
                    text-align : right;
                }
 
body            {
    background-image: url("bg.jpg"); no-repeat center center fixed;
    -moz-background-size: cover;
	background-attachment:fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }