@font-face      {
                    font-family: 'TF2Build';
					src: url('tf2build-webfont.ttf');
					src: local('tf2build-webfont.ttf'), url('https://github.com/BootifulDuk/BootifulDuk.github.io/blob/master/tf2build-webfont.ttf?raw=true') format('ttf');
					font-weight: normal;
					font-style: normal;
                }
                 
.TF2Text        {
                    font-family: TF2build;
                    color: #EBE2CA;
                    text-shadow: 2px 2px 1px #000;
                    text-align : center;
                }       
                 
.TF2Images      {
                    display: inline-block;
                }
                 
.center             {
                    text-align : center;
                }
                 
.right          {
                    text-align : right;
                }
 
body            {
    background-image: url("bg.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }