@font-face      {
                    font-family: 'Covered By Your Grace', cursive;
                }
.TF2Text        {
                    font-family: 'Covered By Your Grace';
                    color: #EBE2CA;
                    text-shadow: 2px 2px 1px #000;
                    text-align : center;
                }       
                 
.TF2Images      {
                    display: inline-block;
                }
                 
.center             {
                    text-align : center;
                }
                 
.right          {
                    text-align : right;
                }
 
body            {
    background-image: url("bg.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }